.productListArea {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 43px;
}
.productList {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 24px;
}

.productCard {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.productInfoBox {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.productInfo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 6px;
  align-self: stretch;
}

.productName {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/md-14px-medium */
  font-family: Pretendard;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 171.429% */
}

.productPrice {
  color: var(--Secondary-800, #1f2937);

  /* pretendard/lg-16px-bold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px; /* 162.5% */
}

.favoriteBox {
  display: flex;
  gap: 4px;
  color: var(--Secondary-600, #4b5563);

  /* pretendard/xs-12px-medium */
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px; /* 150% */
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4px;
}

.pageBtn {
  display: flex;
  width: 40px;
  height: 40px;
  padding: 12.5px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 12.5px;
  border-radius: 40px;
  border: 1px solid var(--Cool-Gray-200, #e5e7eb);
  background: #fff;
  color: var(--Cool-Gray-500, #6b7280);

  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}

.isActive {
  background: #2f80ed;
  color: var(--Secondary-100, #f9fafb);

  /* pretendard/lg-16px-semibold */
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
}
