.apis-content {
  width: 800px;
  padding: 50px 100px;
  margin: 0 auto;
}
.apis-title {
  margin-bottom: 30px;
  padding: 20px;
  font-size: 42px;
  text-align: center;
  color: #93f;
  background-color: #f8ecff;
  border-radius: 4px;
  border: 1px solid #e9ccff;
}

.apis-desc {
  margin-bottom: 50px;
  line-height: 1.5;
}

.apis-desc strong {
  font-weight: 700;
  color: #93f;
}

.product-apis {
  margin-top: 40px;
}

.section-title {
  display: inline-block;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 20px;
  text-align: center;
  color: #93f;
  background-color: #f8ecff;
  border-radius: 4px;
  border: 1px solid #e9ccff;
}

.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0;
  border-bottom: 1px solid #e9ccff;
}

.content:first-of-type {
  border-top: 1px solid #e9ccff;
}

.title {
  font-size: 20px;
}

.api-btn {
  padding: 15px 20px;
  border-radius: 4px;
  color: #e9ccff;
  background-color: #93f;
  border: 1px solid #e9ccff;
  cursor: pointer;
  transition: 0.3s all;
}
.api-btn:hover {
  color: #93f;
  background-color: #e9ccff;
}
