* {
  box-sizing: border-box;
}

.body {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  overflow-y: hidden;
}

.email-input:focus,
.pw-input:focus {
  outline: none;
  border: 1px solid #3692ff;
}

@font-face {
  font-family: ROKAF Sans; /* 폰트 호출 시 사용할 이름 */
  src: url("../font-family/ROKAFSansMedium.ttf") format("truetype"); /* 폰트 파일 경로 */
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Pretendard; /* 폰트 호출 시 사용할 이름 */
  src: url("/font-family/PretendardVariable.ttf") format("truetype"); /* 폰트 파일 경로 */
  font-weight: normal;
  font-style: normal;
}

/*section 레이아웃*/

.login-sec {
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 40rem;
}

.home-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1.39rem;
  width: 100%;
  margin-bottom: 40px;
}

.logo-text {
  font-family:
    ROKAF Sans,
    sans-serif;
  font-weight: 700;
  font-style: Bold;
  font-size: 66.34px;
  line-height: 100%;
  letter-spacing: 0%;
  vertical-align: middle;
  color: #3692ff;
  text-decoration: none;
}

/*이메일 비밀번호 파트*/

.input {
  display: flex;
  width: 100%;
}

.email-sec {
  display: flex;
  flex-direction: column;
  gap: 16px;
  margin-bottom: 24px;
}

.email {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #1f2937;
}

.email-input {
  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #9ca3af;
  background-color: #f3f4f6;
  width: 640px;
  height: 56px;
  gap: 10px;
  border-radius: 12px;
  padding: 16px 24px;
}

.pw-sec {
  display: flex;
  justify-content: space-between;
  width: 640px;
  height: 56px;
  gap: 10px;
  opacity: 1;
  border-radius: 12px;
  padding: 16px 24px;
  background-color: #f3f4f6;
}

.pw {
  font-family: Pretendard;
  font-weight: 700;
  font-style: Bold;
  font-size: 18px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #1f2937;
  margin-bottom: 16px;
}

.pw-input {
  font-family: Pretendard;
  font-weight: 400;
  font-style: Regular;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #9ca3af;
}

.visible-btn {
  display: flex;
  cursor: pointer;
}

.login-btn {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #9ca3af;
  color: #f3f4f6;
  width: 640px;
  height: 56px;
  gap: 10px;
  opacity: 1;
  border-radius: 40px;
  padding: 16px 124px;
  margin: 24px 0;
  font-family: Pretendard;
  font-weight: 600;
  font-style: SemiBold;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: center;
  vertical-align: middle;
}

.link-out {
  background-color: #e6f2ff;
  width: 640px;
  height: 74px;
  gap: 10px;
  opacity: 1;
  border-radius: 8px;
  padding: 16px 23px;
  display: flex;
}

.nav {
  width: 594px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.simple-in {
  display: flex;
  flex-direction: row;
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 16px;
  line-height: 26px;
  letter-spacing: 0%;
  color: #1f2937;
}

.favicon {
  display: flex;
  gap: 16px;
}

.signup-link {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.text-wrapper {
  display: flex;
  align-items: center;
  margin-top: 24px;
  gap: 4px;
}

.text1 {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0%;
  color: #1f2937;
}

.link-signup {
  font-family: Pretendard;
  font-weight: 500;
  font-style: Medium;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0%;
  text-decoration: underline;
  text-decoration-style: solid;
  text-decoration-thickness: 0%;
  color: #3692ff;
}
