/* App.css */
body {
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
}
main {
  display: flex;
  flex-direction: column;
  max-width: 192rem;
  flex: 1;
  margin: 0 auto;
  margin-top: 6.8rem;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
