/* App.css */
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: hidden;
}

main {
  margin-left: 36rem;
  margin-right: 36rem;
  margin-top: 11.5rem;
  flex: 1;
  padding-bottom: 10rem;
}
