.navContainer {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.navTxt {
  font-family: var(--font-pretendard);
  font-weight: 600;
  font-size: 1.6rem;
  white-space: nowrap;
  color: var(--gray-800);
  text-decoration: none;
}

.active {
  color: var(--primary-100);
}
