.container {
  display: flex;
  flex-direction: column;
}
.title {
  color: var(--secondary-800);
  font-weight: 700;
  font-size: 1.8rem;
  margin-bottom: 1.6rem;
}
.error {
  color: var(--error-red);
  font-weight: 600;
  font-size: 1.4rem;
  margin-top: 0.8rem;
}
