.grid {
  display: grid;
  gap: 16px;
}

.grid.best {
  grid-template-columns: repeat(1, 1fr);
}

.grid.all {
  grid-template-columns: repeat(2, 1fr);
}

@media (min-width: 768px) {
  .grid.best {
    grid-template-columns: repeat(2, 1fr);
  }

  .grid.all {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (min-width: 1024px) {
  .grid.best {
    grid-template-columns: repeat(4, 1fr);
  }
  .grid.all {
    grid-template-columns: repeat(5, 1fr);
  }
}
