.popupContainer {
  width: 100svw;
  height: 100svh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
}
.disabled {
  display: none;
}
.popup {
  padding: 8rem 15rem;
  background-color: #fff;
  border-radius: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 1.6rem;
  gap: 4.7rem;
}
