:root {
   --primary100: #2563eb;

   --gray50: #ffffff;
   --gray75: #f8fafc;
   --gray100: #f1f5f9;

   --gray200: #94a3b8;
   --gray250: #e2e8f0;

   --gray300: #1e293b;
   --gray400: #64748b;
   --gray500: #94a3b8;

   --blue-light: #dbeafe;
   --blue-bg: #eff6ff;

   --footer-bg: #0f172a;
}
