/* ---------- Product List Styles ---------- */
.productList {
  margin-bottom: 40px;
}
/* Header Style */
.onSaleHeader {
  display: flex;
  margin-bottom: 24px;
}
.title {
  font-size: 20px;
  font-weight: 700;
  line-height: calc(32 / 20);
  color: var(--Secondary-900);
}

/* Loading Spin */
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 350px;
}

/* Product */
.itemContainer {
  display: grid;
  gap: 24px;
  row-gap: 40px;
}

/* Grid Style */
.lgGridStyle {
  grid-template-columns: repeat(4, 1fr);
}
.mdGridStyle {
  grid-template-columns: repeat(5, 1fr);
}

/* 태블릿: 화면 너비 1023px 이하 */
@media (max-width: 1023px) {
  /* Grid Style */
  .lgGridStyle {
    grid-template-columns: repeat(2, 1fr);
  }
  .mdGridStyle {
    grid-template-columns: repeat(3, 1fr);
  }
}

/* 모바일: 화면 너비 767px 이하 */
@media (max-width: 767px) {
  /* Grid Style */
  .lgGridStyle {
    grid-template-columns: repeat(1, 1fr);
  }
  .mdGridStyle {
    grid-template-columns: repeat(2, 1fr);
  }
}
