/* ---------- Products Styles ---------- */
.products {
  padding: 26px 0 140px;
}
.productsInner {
  max-width: 1200px;
  margin: 0 auto;
}

/* 태블릿: 화면 너비 1023px 이하 */
@media (max-width: 1023px) {
  .products {
    padding: 26px 0 165px;
  }
}

/* 모바일: 화면 너비 767px 이하 */
@media (max-width: 767px) {
  .products {
    padding: 17px 0 135px;
  }
}
