.label {
  color: var(--gray-800);
  font-weight: 700;
  font-size: 1.8rem;
  font-family: var(--font-pretendard);
}

.input {
  border-radius: 1.2rem;
  border-color: transparent;
  background-color: var(--gray-100);
  padding: 1.6rem 2.4rem;
}

.input::placeholder {
  font-size: 1.6rem;
  color: var(--gray-400);
  font-weight: 400;
}

input[type="number"]::-webkit-outer-spin-button,
input[type="number"]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.textarea {
  height: 28.2rem;
  border-radius: 1.2rem;
  background-color: var(--gray-100);
  padding-left: 2.4rem;
  padding-top: 1.8rem;
  border-color: transparent;
}

.textarea::placeholder {
  font-size: 1.6rem;
  color: var(--gray-400);
  font-weight: 400;
  font-family: var(--font-pretendard);
}

.inputError {
  border: 0.1rem solid red !important;
}

.errorMessage {
  color: red;
  font-size: 1.4rem;
  margin: -0.8rem 0 0 0;
}
