/* ---------- App Styles ---------- */
@import url("https://cdn.jsdelivr.net/gh/orioncactus/pretendard@v1.3.9/dist/web/variable/pretendardvariable.min.css");

.app {
  /* Common Font Style */
  font-family:
    "Pretendard Variable",
    Pretendard,
    -apple-system,
    Roboto,
    "Helvetica Neue",
    sans-serif;
  font-style: normal;
  font-weight: 400;
}
