/* common */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* body {
  display: flex;
  flex-direction: column;
  width: 100%;
  min-width: 100vw;
  min-height: 100vh;
  font-family: var(--font-family-base);
} */

.page-wrapper {
  /* 전체 Flex 컨테이너 */
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  min-width: 100vw;
  font-family: var(--font-family-base);
}

.container {
  /* 콘텐츠 Flex 컨테이너 */
  display: flex;
  flex-direction: column;
  flex: 1;
  justify-content: center;
  width: 100%;
  padding: 0 200px;
}

/* .main {
  margin-top: 70px;
  flex: 1;
} */

/* banner */

/* .banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  height: 540px;
  background: #cfe5ff;
}
.banner-inner {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1110px;
  height: 340px;
}
.banner-txt {
  display: flex;
  flex-direction: column;
  padding-bottom: 60px;
  gap: 32px;
}
.banner-title {
  color: #374151;
  font-family: "Pretendard";
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
}
.banner-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  background: var(--color-primary-100);
  color: var(--color-secondary-50);
  cursor: pointer;
}
.banner-img {
  width: 746px;
  height: 340px;
} */

/* card-container */
/* 
.card-container {
  margin-top: 138px;
}
.card-section {
  display: flex;
  justify-content: center;
  margin: 0px auto 276px;
}

.card-inner {
  display: flex;
  justify-content: center;
  gap: 64px;
  width: 988px;
  background: #fcfcfc;
}
.card-contents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 12px;
}

.card-contents-reverse {
  display: flex;
  flex-direction: column; 
  justify-content: center; 
  align-items: flex-end;
  gap: 12px;
}
.card-contents-reverse .card-txt {
  text-align: right;
}
.card-img {
  width: 588px;
  height: 444px;
}
.card-txt {
  display: flex;
  flex-direction: column;
  gap: 24px;
}
.card-subtitle {
  color: var(--color-primary-100);
}
.card-title {
  color: var(--color-secondary-700);
  font-size: 40px;
  font-weight: 700;
  line-height: 56px;
  letter-spacing: 0.8px;
}
.card-desc {
  color: var(--color-secondary-700);
} */

/* account */

/* .account {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 100vw;
  min-height: 100vh;
  gap: 40px;
}
.account-logo {
  width: 396px;
  height: 132px;
}
.account-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 640px;
  gap: 24px;
}
.account-container-inner {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 16px;
}
.account-input-inner {
  display: flex;
  flex-direction: column;
  position: relative;
  width: 100%;
}
.account-label {
  width: 100%;
  color: var(--color-secondary-800);
}
.account-input {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 56px;
  padding: 16px 24px;
  border-radius: 12px;
  border: none;
  color: var(--color-secondary-800);
  background: var(--color-secondary-100);
}
.account-input::placeholder {
  color: var(--color-secondary-400);
}
.account-input:focus {
  outline: 1px solid var(--color-primary-100);
}
.account-input-icon {
  display: flex;
  position: absolute;
  top: 50%;
  right: 24px;
  transform: translateY(-50%);
  width: 24px;
  height: 24px;
  color: var(--color-secondary-600);
}
.account-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 56px;
  padding: 16px 124px;
  border-radius: 40px;
  border: none;
  background: var(--color-primary-100);
  color: var(--color-secondary-100);
}

.account-social {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 74px;
  padding: 16px 23px;
  border-radius: 8px;
  background: #e6f2ff;
}
.account-social-title {
  color: var(--color-secondary-800);
}
.account-social-icon {
  display: flex;
  gap: 16rem;
}
.account-social-link {
  width: 42px;
  height: 42px;
}
.account-info {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 4px;
}
.account-info-title {
  color: var(--color-secondary-800);
}
.account-info-textbtn {
  color: var(--color-primary-100);
  font-family: var(--font-family-base);
  font-size: 14px;
  font-weight: 500;
  text-decoration-line: underline;
  text-decoration-style: solid;
  text-decoration-skip-ink: none;
  text-decoration-thickness: auto;
  text-underline-offset: auto;
} */
